.card-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 450px;
  align-items: flex-end;
  margin-top: 50px;
}
.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  border: 2px solid rgba(0, 0, 0, 0.512);
  width: 50%;
  height: 100%;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: radial-gradient(#89bafb, #b69efeb7);

}
.card-image {
  width: 85px;
  border: 2px solid rgba(0, 0, 0, 0.656);
  padding: 5px;
  border-radius: 30px;
  background: radial-gradient(#fbc1cc, #be86b6);
}
.card-image img {
  width: 100%;
  
}
.card-userinfo {
  width: 70%;
  height: 30px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}
.card-userinfo:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.01);
}
.card-2 {
  /* background: radial-gradient(#fbc1cc,#90728b); */
  background: #be86b6;

}
.card-3 {
    width:50%;
    background:#fbc1cc
}
.back_card{
  background-color: #fbc1cc;
  border-radius: 10px;
}
@media screen and (max-width: 650px) {
  .card-container {
    width: 100%;
    align-items: center;
  }
  .card-items {
    width: 90%;
    font-size: 16px;
  }
}
